@model ProjetoMVC02.Presentation.Models.UsuarioCadastroModel

@{
    ViewData["Title"] = "Cadastro de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>@ViewData["Title"]</h5>
<hr/>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
         <label>Nome do Usuário:</label>
         @Html.TextBoxFor(model => model.Nome,
            new
            {
                @class = "form-control",
                @placeholder = "Ex: João Carlos"
             })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
         <br />   

         <label>Email do Usuário:</label>
         @Html.TextBoxFor(model => model.Email,
            new
            {
                @class = "form-control",
                @placeholder = "Ex: joaocarlos@gmail.com"
             })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Email)
            </span>
         <br />

        <label>Senha de Acesso:</label>
            @Html.PasswordFor(model => model.Senha,
                new
                {
                    @class = "form-control",
                    @placeholder = "Digite a senha",
                    @maxlength = "20"
                 })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Senha)
                </span>
                <br />

         <label>Senha de Acesso:</label>
            @Html.PasswordFor(model => model.SenhaConfirmacao,
                new
                {
                    @class = "form-control",
                    @placeholder = "Confirme a senha",
                    @maxlength = "20"
                 })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.SenhaConfirmacao)
                </span>
                <br />   

        <label>Senha de Acesso:</label>
            @Html.DropDownListFor(model => model.PerfilID,
                Model.ListagemPerfis, "Escolha uma opção",
                new
                {
                    @class = "form-control",
                 })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.PerfilID)
                </span>
                <br /> 

                <input type="submit" value="Realizar Cadastro" class="btn btn-success">
     }
    </div>
</div>