@model ProjetoMVC02.Presentation.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!-- folhas de estilos CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body class="container mt-4">

    <h5>Autenticação de Usuário</h5>
    <hr/>

    <div class="row">
        <div class="col-md-4">

            @using (Html.BeginForm())
            {
                <label>Email de Acesso:</label>
                @Html.TextBoxFor(model => model.Email,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Ex: joaocarlos@gmail.com"
                    })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Email)
                </span>
                <br />

                <label>Senha de Acesso:</label>
                @Html.PasswordFor(model => model.Senha,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Digite aqui",
                        @maxlength = "20"
                    })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Senha)
                </span>
                <br />

                <input type="submit" value="Acessar Sistema"
                       class="btn btn-primary" />
            }

            <div class="text-danger mt-2">
                <strong>@TempData["MensagemErro"]</strong>
            </div>

        </div>
    </div>

    <!-- arquivos de extensão JS -->
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

</body>
</html>
